.add-recipe {
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.add-recipe h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: #093c1f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.err-msg {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-left: 2rem;
  color: red;
}

.add-info-msg {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-left: 0rem;
  color: red;
}

.reg-msg {
  text-align: left; /* Left-align the text within the label */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 18rem;
  color: #093c1f;
  padding-right: 2px;
  display: inline-block; /* Allows setting the width */
  width: 230px; /* Set a fixed width for all labels */
}

input {
  font-size: 1.5rem;
  width: 40%;

  color: darkcyan;
}

select {
  font-size: 1.5rem;
  width: 40%;

  color: darkcyan;
}
.sub-button {
  font-weight: 30rem;
  font-size: 1.5rem;
  color: white;
  background-color: #093c1f;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
