.credits-container ul{
  list-style-type: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 1.2rem; 
}

.credits-list li {
  margin-bottom: 10px;
}

.credits-list a {
  color: #0077cc;
  text-decoration: none;
  font-size: 1.2rem; 
}

.credits-list a:hover {
  text-decoration: underline;
  color: #cc0000;
}

h3 {
  color: #151212;
  margin-bottom: 15px;
}