.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: rgba(52, 50, 50, 0.564);
}

.image-container {
  width: 100%;
  height: 150px; 
  overflow: hidden;
  border-radius: 8px;
}

.image-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image-card-name {
  margin: 10px 0;
  text-align: center;
  font-size: 1rem;
}

.image-card-button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #97CDFC;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s;
}

.image-card-button:hover {
  background-color: #0056b3;
  color: rgb(255, 255, 255)
}
